body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: #F4F1E8;
}

/* HEADER */
.header {
    background: linear-gradient(180deg, #1F5F4A, #2E8B57);
    color: white;
    padding: 25px;
}

/* CATEGORÍAS */
.categories {
    display: flex;
    overflow-x: auto;
    gap: 10px;
    padding: 10px;
}

.cat {
    background: white;
    padding: 8px 15px;
    border-radius: 20px;
    white-space: nowrap;
}

.cat.active {
    background: #2E8B57;
    color: white;
}

/* CONTENEDOR */
.container {
    padding: 10px;
}

/* GRID */
.menu {
    display: grid;
    grid-template-columns: 1fr;
    gap: 12px;
}

@media (min-width: 500px) {
    .menu {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* CARD */
.card {
    background: white;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
}

.card img {
    width: 100%;
    height: 130px;
    object-fit: cover;
    border-radius: 12px;
}

.card h3 {
    margin: 5px 0;
}

.card p {
    font-size: 13px;
}

.en {
    color: gray;
    font-size: 12px;
}

.card span {
    font-weight: bold;
    color: #2E8B57;
}
