/* RESET */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #F4F1E8;
}

/* HEADER VERDE */
.header {
    background: linear-gradient(135deg, #2E8B57, #1F5F4A);
    height: 90px;
}

/* TEXTO */
.overlay {
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px 12px;
}

.overlay h1 {
    margin: 0;
    font-size: 18px;
}

.overlay p {
    margin: 2px 0 0;
    font-size: 12px;
}

/* CATEGORÍAS */
.categories {
    display: flex;
    gap: 10px;
    padding: 10px;
    overflow-x: auto;
}

/* BOTONES */
.cat {
    background: white;
    padding: 7px 14px;
    border-radius: 20px;
    font-size: 12px;
    white-space: nowrap;
    cursor: pointer;
}

.cat.active {
    background: #2E8B57;
    color: white;
}

/* CONTENEDOR */
.container {
    padding: 10px;
}

/* TITULOS */
h2 {
    margin: 10px 5px;
    color: #1F5F4A;
    font-size: 15px;
}

/* GRID */
.menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

/* CARD */
.card {
    background: white;
    border-radius: 12px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 12px rgba(0,0,0,0.08);
}

/* IMAGEN */
.card img,
.placeholder {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

/* PLACEHOLDER */
.placeholder {
    background: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 11px;
    color: #555;
}

/* CONTENIDO */
.card-content {
    padding: 8px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

/* TITULO */
.card h3 {
    margin: 5px 0;
    font-size: 13px;
}

/* INGLES */
.en-title {
    font-size: 11px;
    color: gray;
}

/* DESCRIPCIÓN */
.card p {
    font-size: 11px;
}

/* INGLES DESC */
.en {
    font-size: 10px;
    color: #777;
}

/* PRECIO */
.card span {
    margin-top: auto;
    font-weight: bold;
    color: #2E8B57;
    font-size: 13px;
}
